{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'static_index' %}">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>