{% extends 'base_index.html' %}
{% load staticfiles %}

{% block content %}

    <h1 class="h-1">index page</h1>

    <p>Some text</p>

    <img src="{% static "static_index/img/set.png" %}" alt="set">
{% endblock %}

